<div class="flexi-c r">
  <div class="flexi-i side-bar">
    <div class="card">
      <% if current_user %>
        <%= link_to "", "#", class: "card-star #{(current_user.wish_items.include? @badge) ? 'active' : ''}" %>
      <% end %>

      <%= link_to "", badge_path(@badge), class: "card-image" %>
      <%= link_to @badge.name, badge_path(@badge), class: "card-title" %>
    </div>
  </div>

  <div class="flexi-i listing">
    <ul class="rows">
      <h3 class="year-title<%= @wishers.empty? ? ' cross' : '' %>">Wishers</h3>

      <% @wishers.each do |u| %>
        <li><%= link_to u.username, user_path(u) %></li>
      <% end %>
    </ul>

    <ul class="rows">
      <h3 class="year-title <%= @owners.empty? ? ' cross' : '' %>">Owners</h3>

      <% @owners.each do |u| %>
        <li><%= link_to u.username, user_path(u) %></li>
      <% end %>
    </ul>
  </div>
</div>