<h1 class="section-title">Hi, <%= current_user.username %>!</h1>

<div class="account-box items-initially-hidden" onCLick="display(event.target, 'openAccountDetails', 'accountItems', true)">
  <%= form_tag("/me", method: "PATCH") do %>
    <div class="flexi-c r">
      <h1 class="flexi-i">Account Details</h1>
      <div class="flexi-i account-box-open" id="openAccountDetails"></div>
    </div>

    <div class="hidden" id="accountItems">
      <div class="account-box-spacer"></div>

      <label>Email</label>
      <input type="email" name="email" placeholder="abc@email.com" value="<%= current_user.email %>" readonly></input>
      
      <label>Username</label>
      <input type="username" name="username" placeholder="abc_123" value="<%= current_user.username %>" readonly></input>

      <label>Full Name</label>
      <input type="text" name="name" placeholder="John Smith" value="<%= current_user.name %>" required></input>
      
      <label>Shipping Address</label>
      <input type="text" name="address" placeholder="10 Downing St, Westminster, London SW1A 2AA, UK" value="<%= current_user.address %>" required></input>

      <div class="hidden" id="editPassword">
        <label>New Password</label>
        <input type="password" name="new_password" placeholder="●●●●●●●●"></input>

        <label>Repeat New Password</label>
        <input type="password" name="new_password_confirmation" placeholder="●●●●●●●●"></input>
      </div>

      <label>Password</label>
      <input type="password" name="password" placeholder="●●●●●●●●" required></input>

      <div class="flexi-c rr">
        <input class="account-button" type="submit" value="Update"></input>
        <p class="account-button" id="passButton" onCLick="display(this, 'passButton', 'editPassword', false)">Change Password</p>
      </div>
    </div>
  <% end %>
</div>


<div class="account-box items-initially-hidden" onCLick="display(event.target, 'openTrades', 'tradeItems', true)">
  <div class="flexi-c r">
    <h1 class="flexi-i">Trades</h1>
    <p class="flexi-i account-box-open" id="openTrades"></p>
  </div>

  <div class="hidden" id="tradeItems">
    <div class="account-box-spacer"></div>

    <ul class="rows">
      <% @trades.each do |trade| %>
        <li class="flexi-c r">
          <%= link_to "Status: #{trade.status}", trade_path(trade), class: "flexi-i" %>
          <%= link_to "With: #{trade.other(current_user).username}", trade_path(trade), class: "flexi-i" %>
          <%= link_to "created #{time_ago_in_words(trade.created_at)}", trade_path(trade), class: "flexi-i" %>
        </li>
      <% end %>
    </ul>

    <% if @trades.empty? %>
      <p class="account-centered">no trade history</p>
    <% end %>
  </div>
</div>


<div class="account-box items-initially-hidden" onCLick="display(event.target, 'openWishes', 'wishItems', true)">
  <div class="flexi-c r">
    <h1 class="flexi-i">Wish List</h1>
    <div class="flexi-i account-box-open" id="openWishes"></div>
  </div>

  <div class="hidden" id="wishItems">
    <% current_user.wish_items.group_by(&:collection).each do |collection, badges| %>
      <h3 class="year-title"><%= collection.name %></h3>

      <div class="cards">
        <% badges.each do |b| %>
          <div class="card card-gold">
            <%= card_image(badge_path(b), b.image.url) %>
            <%= link_to b.name, badge_path(b), class: "card-title" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if current_user.wish_items.empty? %>
      <p class="account-centered">no items in wish list</p>
    <% end %>
  </div>
</div>


<div class="account-box items-initially-hidden" onCLick="display(event.target, 'openInventory', 'inventoryItems', true)">
  <div class="flexi-c r">
    <h1 class="flexi-i">Inventory</h1>
    <div class="flexi-i account-box-open" id="openInventory"></div>
  </div>

  <div class="hidden" id="inventoryItems">
    <% current_user.badges.preload(:inventories).group_by(&:collection).each do |collection, badges| %>
      <h3 class="year-title"><%= collection.name %></h3>

      <div class="cards">
        <% badges.each do |b| %>
          <div class="card">
            <p class="card-inventory"><%= b.inventories.find_by(user_id: current_user.id).number %></p>

            <%= card_image(badge_path(b), b.image.url) %>
            <%= link_to b.name, badge_path(b), class: "card-title" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if current_user.badges.empty? %>
      <p class="account-centered">no items in inventory</p>
    <% end %>
  </div>
</div>


<script>
  function display(clicked, el_id, id, undoable) {
    var el = document.getElementById(el_id);

    if (document.getElementById(id).style.display == "block" && undoable) {
      if (el == clicked) {
        document.getElementById(id).style.display = "none";
        el.style.transform = "rotate(0deg)";
      }
    } else {
      document.getElementById(id).style.display = "block";
      
      if (undoable) {
        el.style.transform = "rotate(180deg)";
      } else {
        el.style.display = "none";
      }
    }
  }
</script>