<h1 class="section-title">Hi, <%= current_user.username %>!</h1>

<div class="flexi-i listing">
  <ul class="rows">
    <!-- <h3 class="year-title">Trades</h3> -->
    <p class="new-trade-button">Trades</p>

    <% @trades.each do |trade| %>
      <li class="flexi-c r">
        <%= link_to trade.status, trade_path(trade), class: "flexi-i" %>
        <%= link_to "with #{trade.other(current_user).username}", trade_path(trade), class: "flexi-i" %>
        <%= link_to "created #{time_ago_in_words(trade.created_at)}", trade_path(trade), class: "flexi-i" %>
      </li>
    <% end %>
  </ul>
</div>

<h1 class="section-title">Wish List</h1>

<% current_user.wish_items.group_by(&:collection).each do |collection, badges| %>
  <h3 class="year-title"><%= collection.name %></h3>

  <div class="cards six">
    <% badges.each do |b| %>
      <div class="card card-gold">
        <%= card_image(badge_path(b), b.image.url) %>
        <%= link_to b.name, badge_path(b), class: "card-title" %>
      </div>
    <% end %>
  </div>
<% end %>

<h1 class="section-title">Owns</h1>

<% current_user.badges.preload(:inventories).group_by(&:collection).each do |collection, badges| %>
  <h3 class="year-title"><%= collection.name %></h3>

  <div class="cards six">
    <% badges.each do |b| %>
      <div class="card">
        <p class="card-inventory"><%= b.inventories.find_by(user_id: current_user.id).number %></p>

        <%= card_image(badge_path(b), b.image.url) %>
        <%= link_to b.name, badge_path(b), class: "card-title" %>
      </div>
    <% end %>
  </div>
<% end %>
