<h1><%= @user.username %></h1>

<%= form_tag(create_trade_path, method: "POST") do %>
  <h3>Open trade with <%= @user.username %></h3>
  
  <input type="hidden" name="user_id" value="<%= @user.id %>"></input>
  <input type="submit"></input>
<% end %>

<ul>
  <h3>wish list</h3>

  <% @user.wish_items.each do |w| %>
    <li><%= link_to w.name, badge_path(w) %></li>
  <% end %>
</ul>

<ul>
  <h3>owns</h3>

  <% @user.badges.each do |b| %>
    <li><%= link_to b.name, badge_path(b) %></li>
  <% end %>
</ul>
