<h1 class="section-title"><%= @user.username %></h1>


<% if current_user%>
    <% @trades.each do |trade| %>
      <%= link_to "Ongoing trade", trade_path(trade) %>
    <% end %>
    
    <%= form_tag(create_trade_path, method: "POST") do %>
      <input type="hidden" name="user_id" value="<%= @user.id %>"></input>
      <input type="submit" value="Open new trade with <%= @user.username %>"></input>
    <% end %>
<% end %>


<h3 class="year-title">Wish list</h3>

<div class="cards six">
  <% @user.wish_items.each do |b| %>
    <div class="card">
      <%= link_to "", badge_path(b), class: "card-image" %>
      <%= link_to b.name, badge_path(b), class: "card-title" %>
    </div>
  <% end %>
</div>


<h3 class="year-title">Owns</h3>

<div class="cards six">
  <% @user.inventories.each do |i| %>
    <div class="card">
      <p class="card-inventory"><%= i.number %></p>

      <%= link_to "", badge_path(i.badge_id), class: "card-image" %>
      <%= link_to i.badge.name, badge_path(i.badge_id), class: "card-title" %>
    </div>
  <% end %>
</div>
