<h1 class="section-title"><%= @user.username %></h1>


<% if current_user%>
    <div class="flexi-i listing">
      <ul class="rows">
        <%= form_tag(create_trade_path, method: "POST") do %>
          <input type="hidden" name="user_id" value="<%= @user.id %>"></input>
          <input type="submit" class="new-trade-button" value="Open new trade with <%= @user.username %>"></input>
        <% end %>

        <% @trades.each do |trade| %>
          <li class="flexi-c r">
            <%= link_to trade.status, trade_path(trade), class: "flexi-i" %>
            <%= link_to "created #{time_ago_in_words(trade.created_at)}", trade_path(trade), class: "flexi-i" %>
          </li>
        <% end %>
      </ul>
    </div>
<% end %>


<h3 class="year-title">Wish list</h3>

<div class="cards six">
  <% @user.wish_items.each do |b| %>
    <div class="card">
      <%= link_to "", badge_path(b), class: "card-image" %>
      <%= link_to b.name, badge_path(b), class: "card-title" %>
    </div>
  <% end %>
</div>


<h3 class="year-title">Owns</h3>

<div class="cards six">
  <% @user.inventories.each do |i| %>
    <div class="card">
      <p class="card-inventory"><%= i.number %></p>

      <%= link_to "", badge_path(i.badge_id), class: "card-image" %>
      <%= link_to i.badge.name, badge_path(i.badge_id), class: "card-title" %>
    </div>
  <% end %>
</div>
