<div class="flexi-c r" id="app">
  <div class="flexi-i side-bar">
    <%= render "status" %>
  </div>

  <div class="flexi-i listing">
    <h3 class="year-title">Your offer</h3>

    <div class="cards five">
      <div class="card"
        v-for="badge in your_badges"
        @click="update_offer(<%= current_user.id %>, badge)"
        :class="{'card-gold': badge.wish, 'card-gray': !badge.trading}">
        <p class="card-image"></p>
        <p class="card-title">{{badge.name}}</p>
      </div>
    </div>

    <h3 class="year-title"><%= @them.username %>'s offer</h3>

    <div class="cards five">
      <div class="card"
        v-for="badge in their_badges"
        @click="update_offer(<%= @them.id %>, badge)"
        :class="{'card-gold': badge.wish, 'card-gray': !badge.trading}">
        <p class="card-image"></p>
        <p class="card-title">{{badge.name}}</p>
      </div>
    </div>
  </div>
</div>

<script>
  var vivi = new Vue({
    el: "#app",
    data: {
      your_badges: <%= raw (@your_badges).to_json %>,
      their_badges: <%= raw (@their_badges).to_json %>
    },
    methods: {
      update_offer: function(user_id, badge) {
        this.appli.perform("update_offer", {user: user_id, badge: badge.id, trading: !badge.trading})
      }
    }
  });

  Vue.prototype.appli = App.cable.subscriptions.create({channel: "TradeChannel", id: <%= @trade.id %>}, {
    received: function(data) {
      console.log(data);
      if (data.kind == "update_offer") {
        var whos_badges = (data.user == <%= current_user.id %> ? "your_badges" : "their_badges")
        vivi.$data[whos_badges].find(x => x.id === data.badge).trading = data.trading
      }
    }
  })
</script>